<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @leaf.name %>
</p>

<p>
  <b>Lat0:</b>
  <%= @leaf.lat0 %>
</p>

<p>
  <b>Lat1:</b>
  <%= @leaf.lat1 %>
</p>

<p>
  <b>Lon0:</b>
  <%= @leaf.lon0 %>
</p>

<p>
  <b>Lon1:</b>
  <%= @leaf.lon1 %>
</p>

<p>
  <b>Alt0:</b>
  <%= @leaf.alt0 %>
</p>

<p>
  <b>Alt1:</b>
  <%= @leaf.alt1 %>
</p>

<p>
  <b>Sha:</b>
  <%= @leaf.sha %>
</p>


<%= link_to 'Edit', edit_leaf_path(@leaf) %> |
<%= link_to 'Back', leafs_path %>
